/* @media print {
  body,
  html,
  #page-container,
  .scrollable-page,
  .ps,
  .panel {
    height: 100% !important;
    width: 100% !important;
    display: inline-block;
  }
} */

.rbc-calendar .rbc-time-view .rbc-time-header.rbc-overflowing {
  margin-right: unset !important;
}
